* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;
}

#container {
    background-color: #ece7e7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible {
    outline: none;
}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
}

#weather.show {
    max-height: 500px; /* valor suficiente para conter o conteúdo todo */
    opacity: 1;
    visibility: visible;
}

#title {
    font-size: 30px;
    align-items: center;
    text-align: center;
}

#infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#infos h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#description {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    font-weight: 600;
    color: rgb(48, 46, 46);
    font-size: 16px;
    padding: 10px;
}
